<div class="content">
    <div class="container">
        <div class=" plans text-center">
            <h1><span>privacy </span> <span class="policy">policy</span></h1>
            <div>
                <strong class="d-inline-block mt-3 mb-3 Unbeatable" style="font-size: 18px;"> Privacy, cookies and the
                    GDPR
                    addendum. </strong>

            </div>
        </div>
    </div>
</div>

<div class="content-1">
    <div class="container">
        <div class="updates">
            <div>
                <div>Last updated at: 26 April 2022 <br>
                    Version:1.0.0
                </div><br>

            </div>
        </div>
        <div class="updates-1">

            <h1>Introduction</h1>
            <p>
                <strong>Act</strong>
                ) and other applicable laws when dealing with personal information. Personal information is information
                about an identifiable individual (a natural person).
            </p>
            <p>This policy sets out how we will collect, use, disclose and protect your personal information.</p>
            <p>This policy does not limit or exclude any of your rights under the IND Privacy Act and other applicable
                laws. If you wish to seek further information on the IND Privacy Act<br><br></p>
            <h1>Changes to this policy</h1>
            <p>We may change this policy by uploading a revised policy onto our website (<a href="/" rel=" noopener"
                    target="_blank">www.breazie.com</a>) (the <strong>website</strong>). Unless stated otherwise, the
                change will apply from the date that we upload the revised policy.<br><br></p>
            <h1>What personal information do we collect</h1>
            <p>We collect, hold and process two categories of personal information</p>
            <p><strong>Account and Marketing Data </strong>is personal information that we collect about you:</p>
            <p>
                in connection with the creation or administration of a customer account
                <br>
                if you ask to receive information about us or our services and products or sign up for our newsletter
                <br>
                when you contact us directly (e.g. telephone call, email or through the user dashboard) or visit our
                website.
                <br>
            </p>
            <p>The Account and Marketing Data we collect may include company/personal names, usernames, phone numbers,
                email addresses, your location, billing information, information about how you use our website or the
                Services (for example, traffic volumes, time spent on pages), your IP address and/or other device
                identifying data, and other information required to provide a service or information you have requested
                from us.</p>
            <p><strong>Visitor or Employee Data </strong>is personal information about a customer’s visitors or
                employees that is input into the Breazie Service (as defined in the Breazie). Visitor and Employee Data
                may include visitors’ and employees’ names, phone numbers, email addresses, locations and photos, times
                of visit, visitors’ employers’ names, the signed visitor agreement, and any other information that a
                customer decides to capture about its visitors and employees.</p>
            <p>We will not disclose, move, access, process or use Visitor or Employee Data except as provided in our
                Breazie of Service (including, if applicable, the
                Breazie Data Processing Addendum) and we require our
                customers to comply with applicable privacy and data protection laws.
            </p>
            <p><strong>The remainder of this privacy policy sets out how we will collect, use, disclose and protect
                    Account and Marketing Data and does not apply to Visitor or Employee Data.<br><br></strong></p>
            <h1>Who do we collect your personal information from</h1>
            <p>We collect personal information about you from: </p>
            <p>
                - you, when you provide that personal information to us, including via our website and the Service,
                through any registration process, through any contact with us (e.g. telephone call, email or through the
                user dashboard)
                <br>
                - third parties where you have authorised this or the information is publicly available.
            </p>
            <p>If possible, we will collect personal information from you directly.</p>
            <p>When you visit or use our website or the Service, we may collect information about you:</p>
            <p>

                - by recording
                <i>clickstream data</i>
                , which is non-personal information that is recorded when you click anywhere in a webpage or the Service
                and is used for the purposes of collecting, analysing and reporting data about how you use our website
                and the Service; and
                <br>
                - through the use of cookies, pixel tags (also known as web beacons or clear gifs) and similar storage
                technologies.
            </p>
            <p>Some provision of personal information is optional. However, if you do not provide us with certain types
                of personal information, you may be unable to enjoy the full functionality of our website or the
                Services.</p>
            <p>We may also conduct user surveys to collect information about your preferences. These surveys are
                optional and if you choose to respond, your responses will be kept anonymous. Similarly, we may offer
                contests to qualifying users in which we ask for contact and demographic information such as name, email
                address and mailing address. None of this information is shared with third parties, except in summary
                form, if at all. Information we gather through a contest may also be disclosed to third parties as
                necessary for prize fulfilment and other aspects of any contest or similar offering.<br><br></p>
            <h1>How we use your personal information</h1>
            <p>We will use your personal information:</p>
            <p>

                to verify your identity
                <br>
                to provide services and products to you
                <br>
                to market our services and products to you, including contacting you electronically (e.g. by text or
                email for this purpose)
                <br>
                to tailor content or advertisements to you;
                <br>
                to improve the services and products that we provide to you
                <br>
                to bill you and to collect money that you owe us, including authorising and processing credit card
                transactions
                <br>
                to respond to communications from you, including a complaint
                <br>
                to conduct research and statistical analysis (on an anonymised basis)
                <br>
                to protect and/or enforce our legal rights and interests, including defending any claim
                <br>
                for any other purpose authorised by you, the IND Privacy Act or other applicable law.
            </p>
            <br>
            <br>
            <h1>Disclosing your personal information</h1>
            <p>

                any other company within our group for the purposes described in this policy
                <br>
                any business that supports our services and products, including any person that hosts or maintains any
                underlying IT system or data centre that we use to provide the website or other services and products or
                that assists us with our marketing and customer care activities described in this policy
                <br>
                other third parties (for anonymised statistical information)
                <br>
                a person who can require us to supply your personal information (e.g. a regulatory authority)
                <br>
                any other person authorised by the Act or another law (e.g. a law enforcement agency)
                <br>
                any other person authorised by you
                <br>
                any other company in the case of a sale, merger, consolidation, liquidation, reorganisation or
                acquisition.
            </p>
            <p>A business that supports our services and products may be located outside India. This may mean your
                personal information is held and processed outside India.</p>
            <p>We also share information about your use of our website with our trusted social media, advertising and
                analytics partners through the use of cookies, pixel tags and similar storage technologies.<br><br></p>
            <h1>Protecting your personal information</h1>
            <p>We will take reasonable steps to keep your personal information safe from loss, unauthorised activity, or
                other misuse.<br><br></p>
            <h1>Accessing and correcting your personal information</h1>
            <p>Subject to certain grounds for refusal set out in the IND Privacy Act or other applicable law, you have
                the right to access your readily retrievable personal information that we hold and to request a
                correction to your personal information. Before you exercise this right, we will need evidence to
                confirm that you are the individual to whom the personal information relates.</p>
            <p>In respect of a request for correction, if we think the correction is reasonable and we are reasonably
                able to change the personal information, we will make the correction. If we do not make the correction,
                we will take reasonable steps to note on the personal information that you requested the correction.</p>
            <p>If you want to exercise either of the above rights, email us at <a
                    href="mailto:india@digitoonz.com">india@digitoonz.com</a>. Your email should provide evidence of
                who you are and set out the details of your request (e.g. the personal information, or the correction,
                that you are requesting).<br><br></p>
            <h1>Internet use</h1>
            <p>While we take reasonable steps to maintain secure internet connections, if you provide us with personal
                information over the internet, the provision of that information is at your own risk.</p>
            <p>If you follow a link on our website or in the Service to another site, the owner of that site will have
                its own privacy policy relating to your personal information. We suggest you review that site’s privacy
                policy before you provide personal information.<br><br></p>
            <h1>Contact us</h1>
            <p>If you have any questions about this privacy policy or our privacy practices.</p>
            <h1 style="font-size: 40px; line-height: 45px; margin-top: 40px;"> Breazie privacy policy - GDPR addendum
            </h1>
            <p>If you are based in the India (<strong>IND</strong>) and use our website and/or our services,
                these additional terms (<strong>GDPR Addendum</strong>) form part of our privacy policy.</p>
            <p>The General Data Protection Regulation (<strong>GDPR</strong>) regulates the collection, processing and
                transfer of IND individuals’ personal data (as defined in the GDPR). The personal information described
                in our privacy policy is personal data under the GDPR. We are committed to complying with the GDPR when
                dealing with Account and Marketing Data (as defined in the privacy policy) about our website visitors
                and service users based in the IND.</p>
            <p>For the purposes of the GDPR:</p>
            <p>

                - we are the data controller (as defined in the GDPR) when processing Account and Marketing Data; and
                <br>
                - our customers are the data controller when processing Visitor and Employee Data (as defined in the
                privacy policy)
            </p>
            <p>We will not process Visitor or Employee Data except as provided in our and we require our
                customers to comply with applicable privacy and data protection laws.
            </p>
            <p><strong>The remainder of this GDPR Addendum applies to Account and Marketing Data only, and does not
                    apply to Visitor or Employee Data.</strong></p>
            <p>This GDPR Addendum was drafted with brevity and clarity in mind. It does not provide exhaustive detail of
                all aspects of our collection and use of personal data. However, we are happy to provide any additional
                information or explanation needed. <br><br></p>
            <h1>Processing personal data</h1>
            <p>The Account and Marketing Data we may process is described in our privacy policy. This Account and
                Marketing Data may be processed for the purposes outlined in our privacy policy.</p>
            <p>The legal basis for our processing of Account and Marketing Data is your consent and, for certain Account
                and Marketing Data, processing is necessary for the performance of a contract to which you are a party.
            </p>
            <p>Despite the above, we may process any of your personal data where such processing is necessary for
                compliance with applicable laws.</p>
            <p>You do not have to provide us with your name or contact information to access and use the website.
                However, you must provide us with your name and contact information when using the Service and some of
                our other services. The consequence of not providing your name and contact information is that we will
                not be able to provide all of our services to you.<br><br></p>
            <h1>Your Rights</h1>
            <p>Your rights in relation to your personal data under the GDPR include:</p>
            <p>
                <strong>right of access</strong>
                - if you ask us, we will confirm whether we are processing your personal data and provide you with a
                copy of that personal data.
                <br>
                <strong>right to rectification</strong>
                - if the personal data we hold about you is inaccurate or incomplete, you have the right to have it
                rectified or completed. We will take every reasonable step to ensure personal data which is inaccurate
                is rectified. If we have shared your personal data with any third parties, we will tell them about the
                rectification where possible.
                <br>
                <strong>right to erasure</strong>
                - we delete your personal data when it is no longer needed for the purposes for which you provided it.
                You may request that we delete your personal data and we will do so if deletion does not contravene any
                applicable laws. If we have shared your personal data with any third parties, we will take reasonable
                steps to inform those third parties to delete such personal data.
                <br>
                <strong>right to withdraw consent</strong>
                - if the basis of our processing of your personal data is consent, you can withdraw that consent at any
                time.
                <br>
                <strong>right to restrict processing</strong>
                - you may request that we restrict or block the processing of your personal data in certain
                circumstances. If we have shared your personal data with third parties, we will tell them about this
                request where possible.
                <br>
                <strong>right to object to processing</strong>
                - you may request that we stop processing your personal data at any time and we will do so to the extent
                required by the GDPR.
                <br>
                <strong>right to data portability</strong>
                - you may obtain your personal data from us that you have consented to give us or that is necessary to
                perform a contract with you. We will provide this personal data in a commonly used, machine-readable and
                interoperable format to enable data portability to another data controller. Where technically feasible,
                and at your request, we will transmit your personal data directly to another data controller.
                <br>
                <strong>the right to complain to a supervisory authority</strong>
                - you can report any concerns you have about our privacy practices to the relevant data protection
                supervisory authority.
            </p>
            <p>Where personal data is processed for the purposes of direct marketing, you have the right to object to
                such processing, including profiling related to direct marketing.</p>
            <p>If you would like to exercise any of your above rights. If you are not satisfied by the way
                your query is dealt with by our data protection officer, you may refer your query to your local data
                protection supervisory authority , this is the Information Commissioner’s
                Office.<br><br></p>
            <h1>Children</h1>
            <p>We do not intend to collect personal data from children aged under 16. If you have reason to believe that
                a child under the age of 16 has provided personal data to us through our website and/or by using our
                services.<br><br>
            </p>
            <h1>Cookies</h1>
            <p>We use cookies, pixel tags (also known as web beacons or clear gifs) and similar storage technologies.
                including information on how you can disable these technologies.<br><br></p>

            <h1>Data retention policy</h1>
            <p>Account and Marketing Data that we collect and process will not be kept longer than necessary for the
                purposes for which it is collected, or for the duration required for compliance with applicable law,
                whichever is longer.<br><br></p>
            <h1>Contact us</h1>
            <p>You can contact us at <a href="mailto:india@digitoonz.com">india@digitoonz.com</a></p>

            <p><strong>C29, Sector 6<br></strong>Noida 201301<br> India<br> +91 120-4546011 | +91 120-4107048 <br><br>

            </p>
            <h1 style="font-size: 40px; line-height: 45px; margin-top: 40px;">Breazie cookie policy</h1>
            <p>Your continued use of our website or the Service, including the Breazie App, will signify your
                acceptance of this Policy. We may modify this Policy without notifying you, so we encourage you to check
                this Policy from time to time.</p>
            <p>By using the website or the Service, you are agreeing that we can use the cookies described in this
                Cookie Policy. You can stop cookies by changing the settings on your browser.<br><br></p>
            <h1>Changes to this policy</h1>
            <p>We may change this policy by uploading a revised policy onto our website (<a href="/" rel=" noopener"
                    target="_blank">www.breazie.com</a>) (the <strong>website</strong>). Unless stated otherwise, the
                change will apply from the date that we upload the revised policy.<br><br></p>
            <h1>What are cookies?</h1>
            <p>Cookies are text files containing small amounts of information which are downloaded to your browsing
                device, e.g. a computer or smartphone, when you visit a website. Cookies can be recognised by the
                website that downloaded them, or other websites that use the same cookies. This helps websites know if
                the browsing device has visited them before.</p>
            <p>Cookies do lots of functions, like helping us understand how the website is being used, letting users
                navigate between pages effectively, remembering your preferences, and generally improving your browsing
                experience. Cookies can also help ensure marketing you see online is more relevant to you and your
                interests.</p>
            <p>In this policy, we also use the term <i>cookie</i> to refer to similar technologies such as pixel tags. A
                pixel tag (also known as a web beacon) is a small string of code that represents a clear graphic image
                and is used in conjunction with a cookie. In contrast to cookies, which are stored on a user's computer
                hard drive, pixel tags are embedded invisibly on web pages or in emails. A pixel tag allows us to
                capture certain additional types of information about a visitor's actions on a web site, such as a
                visitor's cookie number, the time, date, duration and number of page views, a description of the page
                where the tag is placed and details about any items that were purchased. Pixel tags help us analyse our
                customers' online behaviour and measure the effectiveness of our website and our advertising. We work
                with service providers that help us track, collect and analyse this information.<br><br></p>
            <h1>What types of cookies does Breazie use?</h1>
            <p>The types of cookies used by most websites can generally be put into five categories: Strictly Necessary,
                Performance, Functionality, Tailored Content and Targeting.<br><br></p>
            <h1>Strictly necessary cookies</h1>
            <p>These cookies are essential for the full functionality of our website and the Service. They enable you to
                navigate around our website and the Service and use their features, such as accessing secure areas.
                Without these cookies, you may not be able to access all the functions of our website or the
                Service.<br><br></p>
            <h1>Performance cookies</h1>
            <p>These cookies collect information about how you use our website or the Service, e.g. which pages are the
                most visited and if you receive any error messages from any pages. These cookies do not gather
                information that identifies you. All information these cookies collect is anonymous and only used to
                improve how our website and the Service works.<br><br></p>
            <h1>Functionality cookies</h1>
            <p>These cookies allow our website and the Service to remember the choices you make, e.g. your user name,
                language or your region. These cookies can also be used to remember the changes you made to text size,
                font, and other parts of pages that you can customise. They may also be used to provide services you
                have requested, e.g. watching a video or commenting on a post. The information these cookies collect may
                be anonymous and they cannot track your browsing activity on other websites.<br><br></p>
            <h1>Tailored content cookies</h1>
            <p>These cookies help our website and the Service provide enhance features and display content in a way that
                is relevant to you. They help determinate what information is shown on our website and the Service based
                on how you have used our website and the Service previously. These cookies also track your browsing
                activity on other websites.<br><br></p>
            <h1>Targeting cookies</h1>
            <p>These cookies are used to deliver&nbsp;advertisements that are more relevant to you and your interests.
                They are also used to limit the number of times you seen an advertisement as well as help measure the
                effectiveness of the advertising campaign. They remember that you have visited a website and this
                information may be shared with other organisations such as advertisers. This means that after you have
                been to our website, you may see some advertisements about our services elsewhere on the
                Internet.<br><br></p>
            <h1>How long will cookies stay on my browsing device?</h1>
            <p>The length of time a cookie will stay on your browsing device depends on whether it is a
                <i>persistent</i> or <i>session</i> cookie. Session cookies will only stay on your browsing device until
                you stop browsing.
            </p>
            <p>Persistent cookies will stay on your browsing device until they expire or are deleted.<br><br></p>
            <h1>First and third party cookies</h1>
            <p>First party cookies are cookies that belong to Breazie, while third party cookies are cookies that
                another party places on your browsing device through our website or the Service.</p>
            <!-- <p>We use Google Analytics, which may use Google’s own cookies. Information about Google’s cookies is
                available from: <a href="https://www.google.com.au/policies/technologies/types/" rel=" noopener"
                    target="_blank">https://www.google.com.au/policies/technologies/types/</a><a
                    href="http://www.google.com.au/policies/technologies/types/">.</a> Google’s applicable privacy
                policy for Google Analytics cookies is available at: <a
                    href="https://www.google.com/policies/privacy/partners/" rel=" noopener"
                    target="_blank">https://www.google.com/policies/privacy/partners/</a></p> -->

            <!-- <p>We also use Facebook pixels. These allow third parties, including Facebook, to collect or receive
                information from our website and elsewhere on the internet and use that information to provide
                measurement services and target ads. Facebook’s privacy policy is at: <a
                    href="https://www.facebook.com/about/privacy/" rel=" noopener"
                    target="_blank">https://www.facebook.com/about/privacy/</a>
                <br><br>
            </p>
            <h1>How to control and delete cookies through your browser</h1>
            <p>The browser you are using to view the website or use the Service can enable, disable or delete cookies.
                To do this, please follow the instructions provided for your browser.</p>
            <p>Please note that if you set your browser to disable cookies, you may not be able to access certain parts
                of the website or the Service. Other parts of the website or the Service may also not work properly.
                <br><br>
            </p>
            <h1>Third party website cookies</h1>
            <p>Other websites may use different cookies from those Breazie uses. You acknowledge and agree that
                Breazie is not responsible for any third party websites or applications and you access third party
                websites and applications at your own risk. Please understand other websites and applications are
                independent from Breazie so you must inform yourself of their separate cookie policies.</p> -->


        </div>

    </div>
</div>